#nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    background-color: #E5989B;
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 1000;  
    height: 60px;  
}

#logo {
    width: 60px;
    position: absolute;  
    left: 20px;
}

#menu {
    display: flex;
    gap: 30px; 
}

#menu a {
    text-decoration: none;
    color: rgb(145, 31, 31); 
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


#menu a:hover {
    color: white; 
    background-color: #DE3163; 
    padding: 5px 10px; 
    border-radius: 5px; 
}


#hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;  
    top: 15px;    
}

/* Responsive Design */
@media (max-width: 768px) {
    #nav {
        justify-content: space-between;
    }

    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        background-color: #F6DED8;
        padding: 20px;
        text-align: center;
        z-index: 1000;
    }

    #menu.active {
        display: flex;
    }

    #menu a {
        color: rgb(10, 3, 3);  
        display: block; 
        padding: 10px 0;
        font-size: 16px;
    }

    #hamburger {
        display: block;
    }
}


